@page
@model Web_Watch_Shop.Pages.SuccessCheckout.IndexModel
@{
}
<div>
	<h1 style="align-items: center; color: green;">Thanh toán thành công</h1>
	
	<p>Thanh toán đã thực hiện thành công. Trong vòng 30 phút OneShop sẽ liên hệ xác nhận thông tin giao hàng</p>
	<div>
		<div>
			<h4>Tên khách hàng</h4>
			<p>Nguyễn Tấn Sang</p>
		</div>
		<div>
			<h4>Hình thức thanh toán</h4>
			<p>Thanh toán trực tiếp</p>
		</div>
		<div>
			<h4>Địa chỉ nhận hàng</h4>
			<p>Lorem ipsum</p>
		</div>
		<div>
			<h4>Số điện thoại</h4>
			<p>1231241242123</p>
		</div>
		<div>
			<h4>Số tiền</h4>
			<p>20.000.000 VND</p>
		</div>
		<a asp-page="/Shop/Index" type="submit" value="sumbit" style="border: none; background-color: red; padding: 10px; text-decoration: none; color: black;">Tiếp tục mua sắm</a>
	</div>
</div>

