@page
@model Web_Watch_Shop.Pages.Cantactus.IndexModel
@{
}

<body onload="bodyload()">

    <!-- BANNER -->

    <section>
        <div class="banner banner3">
            <h2 class="page-name">Contact us</h2>
        </div>
    </section>

    <!-- BANNER -->

    <!-- bread cumb -->

    <div class="container mt-2">
        <div class="row">
            <div class="col-md-12 mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-page="/index">Home</a></li>
                        <li class="breadcrumb-item active">Contact</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- bread cumb -->

    <!-- Contact-form-section -->


    <div class="container  contact_container">
        <div class="row">

            <div class="col-md-12 ">
                <h2 class="c2">Our Location</h2>
                <br>
                <div id="google_map">
                    <div class="map_container">

                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe width="100%" height="340px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d411.95332194328023!2d106.70326755804436!3d10.797324764224285!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752921767a24cb%3A0x952d688cf2bc99bc!2sUEF-Faculty%20of%20International%20Relations!5e0!3m2!1svi!2s!4v1719348442519!5m2!1svi!2s" frameborder="0" scrolling="no"></iframe>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Contact Us -->

            <div class="row m-0">

                <div class="col-lg-6  contact_col">
                    <div class="contact_contents">
                        <h1>Contact Us</h1>
                        <p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what suits you the most.</p>
                        <div>
                            <p>0xxx-1234567</p>
                            <p>(xxx) 123-4567</p>
                            <p>Team1@gmail.com</p>
                        </div>
                        <!-- <div>
                            <p>mm</p>
                        </div> -->
                        <div>
                            <p>Open hours: 24hrs - Sat To Thurs</p>
                            <p>Friday: Closed</p>
                        </div>
                    </div>

                    <!-- Follow Us -->

                    <div class="follow_us_contents">
                        <h1>Follow Us</h1>
                      @*   <ul class="social d-flex flex-row">
                            <li><a href="#" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" style="background-color: #fb4343"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul> *@
                    </div>

                </div>

                <div class="col-lg-6  get_in_touch_col">
                    <div class="get_in_touch_contents">
                        <h1>Get In Touch With Us!</h1>
                        <p>Fill out the form below to recieve a free and confidential.</p>
                        <<form method="post">
                            >
                            <div>
                                <input id="input_name" class="form_input input_name input_ph" type="text" name="ContactForm.name" placeholder="Name" required="required" data-error="Name is required.">
                                <input id="input_email" class="form_input input_email input_ph" type="email" name="ContactForm.email" placeholder="Email" required="required" data-error="Valid email is required.">
                                <textarea id="input_message" class="input_ph input_message" name="ContactForm.message" placeholder="Message" rows="3" required data-error="Please, write us a message."></textarea>
                            </div>
                            <div>

                                <button type="submit" class="red_button message_submit_btn trans_300" >Send message</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>



    <script src="assets/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>

</html>