@page
@model Web_Watch_Shop.Pages.About.IndexModel
@{
    ViewData["Title"] = "About";
}
<section>
    <div class="banner banner1">
        <h2 class="page-name">About US</h2>
    </div>
</section>
<!-- bread cumb -->

<div class="container mt-2">
    <div class="row">
        <div class="col-md-12 mt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item active">About</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<!-- bread cumb -->
<section>
    <div class="container">
        <div class="row about">
            <div class="col-md-12">
                <h2>About Us</h2>
                <p>
                    At One-shop, we believe that watches are more than just timekeeping devices; they are statements of style and sophistication. We are dedicated to bringing our customers premium, high-quality timepieces that reflect their unique personalities and styles.<br />
                    stablished in 2024, One-shop has become a leading watch brand, offering exceptional quality products from renowned watchmakers worldwide. With a team of passionate and experienced experts, we are committed to providing our customers with an outstanding shopping experience.<br />
                    Our mission is to be a trusted partner in helping you find the perfect watch for every occasion. We believe that each timepiece is more than just an accessory; it's an integral part of one's life journey.<br />
                    Experience the difference at [Company Name] and explore our diverse collection of watches. We take pride in serving you and making your watch dreams a reality.
                </p>
            </div>
            <div class="col-md-12">
                <h2>Core Values:</h2>
                <p>
                    <ul>
                        <li>Uncompromising Quality</li>
                        <li>Continuous Innovation</li>
                        <li>Exceptional Customer Service</li>
                        <li>Passion and Creativity</li>
                    </ul><br />
                    Join us on a journey to discover the world of premium timepieces!<br />
                </p>
            </div>
        </div>
</section>

<!-- Benefit -->
<h2 class="c2">Our-Promise</h2>
<div class="benefit">

    <div class="benefit-row">

        <div class="benefit-col">
            <div class="benefit-icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
            <div class="benefit-content">
                <h6>free shipping</h6>
                <p>Suffered Alteration in Some Form</p>
            </div>
        </div>
        <div class="benefit-col">
            <div class="benefit-icon"><i class="fa fa-money" aria-hidden="true"></i></div>
            <div class="benefit-content">
                <h6>cach on delivery</h6>
                <p>The Internet Tend To Repeat</p>
            </div>
        </div>
        <div class="benefit-col">
            <div class="benefit-icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
            <div class="benefit-content">
                <h6>45 days return</h6>
                <p>Making it Look Like Readable</p>
            </div>
        </div>
        <div class="benefit-col">
            <div class="benefit-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
            <div class="benefit-content">
                <h6>opening all week</h6>
                <p>8AM - 09PM</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- Benefit -->
